{%extends "base.html" %}
{%block tittle%}Juegos{%endblock%}
{%block titulo%}
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="/">Juegos</a></h1>
      <p>Disfruta de los mejores juegos</p>
    </div>
  </div>
{%endblock%}
{%block contenido%}
<div class="wrapper row5">
    <div id="container" class="clear"> 
        <div class="posts">
            <p>
                <form method="post" action="/juegos">
                    <label>Introduce el nombre de un juego: </label>
                    <input type="text" name="juego" size="50"/>
                    <select name="categoria">
                      {% for categoria in listacategorias -%}
                        <option value="{{categoria}}">{{categoria}}</option>
                      {% endfor %}
                    </select>
                    <input type="submit" value="Buscar"/> 
                    <p>Puedes introducir un videojuego o pulsar buscar para mostrarlos todos según su categoría</p>
                </form>
            </p>
        </div>
    </div>
</div>
{%endblock%}
