{%extends "base.html" %}
{%block tittle%}{{juego.get("nombre")}}{%endblock%}
{%block titulo%}
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="/">{{juego.get("nombre")}}</a></h1>
      <p>Disfruta de los mejores juegos</p>
    </div>
  </div>
{%endblock%}
{% block contenido %}
<div class="wrapper row5">
  <div id="container" class="clear">
    <div class="posts">
      <p>
          <h1>{{juego.get("nombre")}}</h1>
          <ul>
              <li>Sistema: {{juego.get("sistema")}}</li>
              <li>Distribuidor: {{juego.get("distribuidor")}}</li>
              <li>Desarrollador: {{juego.get("desarrollador")}}</li>
              <li>Categoría: {{juego.get("categoria")}}</li>
              <li>Año: {{juego.get("año")}}</li>
          </ul>
      </p>
      <a href="/juegos">Volver a Juegos</a>
    </div>  
  </div>
</div>


  {% endblock %}
